## Mardown log files
## R History files
.Rhistory
*/.Rhistory
*/*/.Rhistory
## DS_Store files
*.DS_Store
*/*.DS_Store
*/*/*.DS_Store

aligments/*
genome/*.array
genome/*.tab
genome/*.files
genome/*.log
genome/*.reads
reads/R01_10_short6M.fq.gz
